<!-- hero section -->

<section class="hero section">
  <div class="container container-position">
    <div class="hero-header__thumb">
      <h1 class="hero__title title">We’ve got the job for you<span class="symbol">!</span></h1>
      <p class="hero__text">
        We offer experienced IT specialists to be involved in ground-breaking digital projects and
        IT novices to develop skills in our perspective workplace.
      </p>
    </div>

    <div class="hero__img-container">
      <div class="hero__img-box box-1 owl-carousel">
        <img
          class="hero__img"
          srcset="images/first_line/img1.jpg 1x, images/first_line/img1@2x.jpg 2x"
          src="/images/first_line/img1.jpg"
          alt="img1"
        /><img
          class="hero__img"
          srcset="images/first_line/img2.jpg 1x, images/first_line/img2@2x.jpg 2x"
          src="images/first_line/img2.jpg"
          alt="img2"
        /><img
          class="hero__img"
          srcset="images/first_line/img3.jpg 1x, images/first_line/img3@2x.jpg 2x"
          src="images/first_line/img3.jpg"
          alt="img3"
        /><img
          class="hero__img"
          srcset="images/first_line/img4.jpg 1x, images/first_line/img4@2x.jpg 2x"
          src="images/first_line/img4.jpg"
          alt="img4"
        /><img
          class="hero__img"
          srcset="images/first_line/img5.jpg 1x, images/first_line/img5@2x.jpg 2x"
          src="images/first_line/img5.jpg"
          alt="img5"
        /><img
          class="hero__img"
          srcset="images/first_line/img6.jpg 1x, images/first_line/img6@2x.jpg 2x"
          src="images/first_line/img6.jpg"
          alt="img6"
        />
      </div>

      <div class="hero__img-box box-2">
        <img
          class="hero__img"
          srcset="images/second_line/img1.jpg 1x, images/second_line/img1@2x.jpg 2x"
          src="/images/second_line/img1.jpg"
          alt="img1"
        /><img
          class="hero__img"
          srcset="images/second_line/img2.jpg 1x, images/second_line/img2@2x.jpg 2x"
          src="images/second_line/img2.jpg"
          alt="img2"
        /><img
          class="hero__img"
          srcset="images/second_line/img3.jpg 1x, images/second_line/img3@2x.jpg 2x"
          src="images/second_line/img3.jpg"
          alt="img3"
        /><img
          class="hero__img"
          srcset="images/second_line/img4.jpg 1x, images/second_line/img4@2x.jpg 2x"
          src="images/second_line/img4.jpg"
          alt="img4"
        /><img
          class="hero__img"
          srcset="images/second_line/img5.jpg 1x, images/second_line/img5@2x.jpg 2x"
          src="images/second_line/img5.jpg"
          alt="img5"
        /><img
          class="hero__img"
          srcset="images/second_line/img6.jpg 1x, images/second_line/img6@2x.jpg 2x"
          src="images/second_line/img6.jpg"
          alt="img6"
        />
      </div>

      <div class="hero__img-box box-3">
        <img
          class="hero__img"
          srcset="images/third_line/img1.jpg 1x, images/third_line/img1@2x.jpg 2x"
          src="/images/third_line/img1.jpg"
          alt="img1"
        /><img
          class="hero__img"
          srcset="images/third_line/img2.jpg 1x, images/third_line/img2@2x.jpg 2x"
          src="images/third_line/img2.jpg"
          alt="img2"
        /><img
          class="hero__img"
          srcset="images/third_line/img3.jpg 1x, images/third_line/img3@2x.jpg 2x"
          src="images/third_line/img3.jpg"
          alt="img3"
        /><img
          class="hero__img"
          srcset="images/third_line/img4.jpg 1x, images/third_line/img4@2x.jpg 2x"
          src="images/third_line/img4.jpg"
          alt="img4"
        /><img
          class="hero__img"
          srcset="images/third_line/img5.jpg 1x, images/third_line/img5@2x.jpg 2x"
          src="images/third_line/img5.jpg"
          alt="img5"
        /><img
          class="hero__img"
          srcset="images/third_line/img6.jpg 1x, images/third_line/img6@2x.jpg 2x"
          src="images/third_line/img6.jpg"
          alt="img6"
        />
      </div>
    </div>
    <div class="hero__thumb">
      <button class="button hero__button">See All Roles</button>
    </div>
  </div>
</section>
