// ------------hero section------------------

.container-position {
    position: relative;
}

.hero {
    background-color: $background-black;
    color: white;

    @media screen and (min-width: 1440px) {
            padding-bottom: 194px;
        }

    &__title {
        font-family: 'Helvetica black';
        font-weight: 900;
        font-size: 40px;
        line-height: calc(44 / 40);
        margin-bottom: 16px;
        color: white;
        letter-spacing: -1.8px;

        @media screen and (min-width: 768px) {
            font-size: 56px;
            line-height: calc(62 / 56);
        }

        @media screen and (min-width: 1440px) {
            margin-bottom: 100px;
            max-width: 430px;

            &:not(:last-child) {
                margin-right: 50px;
            }
        }
    }

    &-header__thumb {
        @media screen and (min-width: 1440px) {
            display: flex;
            align-items: flex-start;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: calc(25 / 16);
        margin-bottom: 42px;
        max-width: 534px;
        letter-spacing: -0.7px;

        @media screen and (min-width: 1440px) {
            font-size: 24px;
            line-height: calc(37 / 24);
            max-width: 576px;
        }
    }

    &__img-container {
        position: relative;
        margin-bottom: 42px;

        @media screen and (min-width: 768px) {
            margin-bottom: 8px;
        }

        @media screen and (min-width: 768px) {
            max-width: 1920px;
        }
    }

    &__img-box {
        position: relative;
        display: flex;
        max-width: 320px;


        &:not(:last-child) {
            margin-bottom: 6px;

            @media screen and (min-width: 768px) {
                margin-bottom: 10px;
            }
        }
    }

    &__img {
        border-radius: 10px;
        width: 119px;
        display: block;

        @media screen and (min-width: 768px) {
            width: 189px;
        }

        @media screen and (min-width: 1440px) {
            width: 378px;
        }
        

        &:not(:last-child) {
            margin-right: 6px;

            @media screen and (min-width: 768px) {
                margin-right: 10px;
            }

            @media screen and (min-width: 1440px) {
                margin-right: 20px;
            }
        }
    }

    &__thumb {
        display: flex;
        justify-content: center;
        position: relative;

        @media screen and (min-width: 768px) {
            display: block;
            margin-left: 54px;
        }
    }

    &__button {
        padding: 12px 16px;
        min-width: 172px;

    @media screen and (min-width: 1440px) {
        position: absolute;
            top: -441px;
            left:212px;
            width: 378px;
            height: 212px;
            opacity: 0.9;
            font-size: 28px;
            line-height: calc(34 / 28);
            font-weight: 800;
        }
    }
}

.box-1 {
    left: -176px;

    @media screen and (min-width: 768px) {
        left: -300px;
    }

        @media screen and (min-width: 1440px) {
            left: -650px;
        }
}

.box-2 {
    left: -139px;

    @media screen and (min-width: 768px) {
        left: -245px;
    }

    @media screen and (min-width: 1440px) {
        left: -530px;
    }
}

.box-3 {
    position: relative;
    left: -176px;
    width: calc(100vw + 176px);

    @media screen and (min-width: 768px) {
        left: -300px;
    }

    @media screen and (min-width: 1440px) {
        left: -650px;
    }

    &::after {
        content: '';
        display: block;
        width: 200vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to bottom, rgba(2, 2, 19, 0) 0%,
                #020213 100%);

    }
}

.symbol {
    color: $special-color;
}